<div fxLayout="column">
    <div>
        <h1>Searching Heroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Search</h3>
        <mat-form-field>
            <mat-label>Hero Name</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   matInput
                   [(ngModel)] = 'character'
                   [matAutocomplete]="auto"
                   (input)="searching()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                               (optionSelected)="option($event)">
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{heroe.superhero}}
              </mat-option>
              <mat-option value="" *ngIf="heroes.length === 0 && character.trim().length > 0">
                Not found any hero with this name {{ character }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>

    <div fxLayout="column" *ngIf="heroeSelected">
        <mat-card>
        <button mat-button color="warn"
                [routerLink]="['/heroe', heroeSelected?.id]">
            Read more...
        </button>

          <img mat-card-image classname='imagen' src="assets/heroes/{{heroeSelected?.id}}.jpg">

    </mat-card>
    </div>
</div>
