<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ item.superhero }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ item.alter_ego }}
        </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="item | imagen">

    <mat-card-content>
        <h3>{{ item.publisher }}</h3>
        <p>
            <strong>First appearance</strong> {{ item.first_appearance }}
            <br>
            <strong>Characters:</strong> {{ item.characters }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="warn"
                [routerLink]="['/heroe', item.id]">
            Read more...
        </button>
        <button mat-button color="accent"
                [routerLink]="['/heroe/edit', item.id]">
            Edit
        </button>
    </mat-card-actions>
</mat-card>
